html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    border-bottom: 1px solid #C6C6C6;
    padding-bottom: 15px;
}

.logo-img{
    width: 120px;
}

.user-avatar-img{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Main and sections styling */
/* post section styling */
main {
    margin-top: 10px;
}

.post-uname-div{
    display: flex;
    margin-left: 10px;
}

.post-uname-subdiv{
    margin-left: 12px;
}

.post-uname-subdiv h4{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 13px;
}

.post-uname-subdiv p{
    margin-top: 2px;
    font-size: 12px;
}

.post-img{
    width: 100%;
}

/* engagement section styling */
.engagement-section{
    margin: 10px 0 0 10px;
}

.likes-section{
    margin-bottom: 0px;
}

.icon-size{
    height: 25px;
    width: 25px;
}

.engagement-section h5{
    margin-top: 8px;
    margin-bottom: 0;
}

.engagement-section p{
    margin-top: 8px;
}